.avatar-img {
  border-radius: 50%;
}

.hamburger-menu {
  display: none;
}

.main-container {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 0 40px;
}

.hero {
  height: 60vh;
  background: url('hero.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-content {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1rem;
  margin-bottom: 50px;
}

.hero-button {
  background-color: #7dae7f;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.15s, color 0.15s;
}

.hero-button:hover {
  opacity: 0.8;
  color: aliceblue;
}

.course-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.course-grid-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.course-grid-subtitle {
  font-size: 0.9rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
  margin-top: 4px;
}

.category-bar {
  position: sticky;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  background-color: #e0fbe2;
  padding: 10px 0;
  border-radius: 10px;
}
.category-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-list li {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.category-list li:hover {
  background-color: #575757;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 40px;
}
.grid-item {
  background-color: #e0fbe2;
  padding: 20px 20px 5px 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  text-overflow: ellipsis;
}
.grid-item-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.grid-item-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 8px 0 4px 0;
}
.grid-item-subtitle {
  margin: 0;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 3em;
}

.grid-course-author {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.grid-course-author-profile {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: start;
}
.grid-course-author-profile p {
  margin: 0;
}
.author-name {
  font-weight: 600;
}
.author-position {
  font-weight: light;
  color: grey;
}

.course-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.star-rating {
  display: inline-block;
  font-size: 1.3em;
  position: relative;
}
.star-rating::before {
  content: '★★★★★'; /* Full star characters */
  color: #ccc; /* Color of the unfilled stars */
}
.star-rating::after {
  content: '★★★☆☆'; /* Half star character */
  color: #ffca28; /* Color of the filled stars */
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; /* 3.5 out of 5 stars, so 70% width */
  overflow: hidden;
}

.course-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffca28;
}

.cta-section {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call-to-action {
  height: 40vh;
  background: url('cta.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.call-to-action::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cta-content h5 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0 0 10px 0;
}
.cta-content h4 {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
.cta-content p {
  margin: 0 0 10px 0;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 2px solid #ace1af;
  border-radius: 10px;
}
.subscribe-form input {
  flex-grow: 2;
  border: none;
  padding: 10px 10px;
  border-radius: 10px 0 0 10px;
}

.subscribe-form input:focus {
  outline: none;
}

.subscribe-form form:focus-within {
  outline: 1px solid #ace1af;
}

.subscribe-form button {
  border: 1px solid #ace1af;
  background: #ace1af;
  color: white;
  border-radius: 10px;
  margin: 2px 2px 2px 0;
}

.footer {
  margin-top: 40px;
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  background-color: #e0fbe2;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px 20px 40px 20px;
}
.company-info h5 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.company-info p {
  margin: 5px 0 5px 0;
  padding: 0;
}
.company-slogan {
  font-weight: bolder;
}
.company-address {
  font-size: 0.9rem;
}
.company-phone {
  font-size: 0.9rem;
}

.about-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 20px 40px 20px;
}

.about-us-list h5 {
  font-size: 1.1rem;
  margin: 15px 0 10px 0;
}

.about-us-list ul {
  margin: 0;
  padding: 0;
}

.about-us-list li {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 0.8rem;
  list-style: none;
  cursor: pointer;
}

.copyright {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .avatar-img {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .main-container {
    padding: 10px 10px;
  }
  .hero {
    height: 90vh;
  }
  .hero-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .hero-subtitle {
    font-size: 0.7rem;
    margin-bottom: 50px;
  }
  .hero-button {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.15s, color 0.15s;
  }
  .nav-brand {
    margin: 0 10px;
  }
  .grid {
    grid-template-columns: minmax(200px, 1fr);
    gap: 20px;
  }
  .footer {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .company-info {
    padding: 10px 20px 20px 20px;
  }
  .about-us-grid {
    grid-template-columns: 1fr 1fr;
  }
}
